* {
    font-family: 'Montserrat', sans-serif;
}

/* Start of Nav Bar */
.far, .fas, .fab {
    font-size: 35px;
    color: #ffffff;
    cursor: pointer;
}

.far:hover, .fas:hover, .fab:hover {
    color: #d19400 !important;
}

.form-control {
    border-radius: 100px !important;
}

.navbar {
    background: #000000 !important;
    padding: 20px !important;
}

.navbar li a {
    color: #ffffff !important;
    font-size: 1.2em !important;
    font-weight: 600;
    padding: 0px 30px 0px 30px !important;
}

.navbar li a:hover {
    color: #d19400 !important;
}

.mynav {
    padding-left: 20px;
}

.logo {
    width: 150px;
    height: auto;
}
/* End of Nav Bar */

/* Start of Header Section */
.container-1 {
    background: #7F0A0A !important;
    padding: 130px 100px 130px 100px;
    
}

.header-image, .mission-image, .about-content {
    flex: 1;
}

.header-content, .mission-content, .about-content2 {
    flex: 1;
    
}

.mission-content {
    margin-top: 80px;
}

@media (min-width: 900px){
    .container-1, .container-4, .container-2 {
        display: flex;
    }
}

/* 
.container-1 .row .col {
    padding: 100px !important;
} */

.container-1 h1 {
    color: #ffffff;
    font-size: 3em;
    font-weight: bold;
    letter-spacing: 5px;
    margin-bottom: 25px !important;
}

.header-p {
    color: #ffffff;
    background: #000000;
    border-radius: 100px 0px;
    padding: 60px;
    font-size: 1.4em;
    font-weight: 600;
    margin-bottom: 50px;
}

.abtn {
    text-decoration: none;
}

/* .vbtn-1 {
    background: #d19400;
    border: 3px solid #d19400;
    color: #000000;
    font-weight: 600;
    padding: 15px 35px;
    margin-right: 20px;
}

.vbtn-1:hover {
    border: 3px solid #d19400;
    background-color: #7F0A0A;
    color: #d19400;
} */

.vbtn-2 {
    border: 3px solid #d19400;
    color: #d19400;
    font-weight: 700;
    font-size: 1.1em;
    padding: 15px 35px;
    margin-right: 20px;
}

.vbtn-2:hover {
    background: #d19400;
    border: 3px solid #d19400;
    color: #000000;
}

#home {
    border-radius: 0 0 0 150px;
}

.head-img {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 !important;
}

.header-img {
    /* position: absolute; */
    width: 550px;
}




/* End of Header Section */

/* Start of Blurb Section */
.container-2 {
    background: #ffffff;
    padding: 120px 100px;
}

.container-2 h2 {
    font-weight: 700;
    letter-spacing: 3px;
    padding: 0px 20px 10px 20px;
    border-bottom: 2px solid #000000;
}

.container-h2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.blurb-p {
    font-size: 1.4em;
    font-weight: 600;
    text-align: right;
}
/* End of Blurb Section */

/* Start of Bestsellers Section */
.container-3 {
    background: #000000;
    padding: 80px 100px;
}

.container-3 h2 {
    text-align: center;
    font-weight: 700;
    letter-spacing: 5px;
    font-size: 3em;
    color: #ffffff;
    position: relative;
    z-index: 1;
}

.container-3 h2:before{
    border-top: 15px solid #801200;
    content: "";
    margin: 0 auto;
    position: absolute;
    top: 36%;
    left: 0;
    right: 0;
    bottom: 0;
    width: 35%;
    z-index: -1;
    
}

.con-row-3 {
    color: #ffffff;
    text-align: center;
    margin-top: 40px;
}

/* ~~~~~ CARD ~~~~~~ */
.card {
    display: flex;
    margin: 0 auto;
    border-radius: 0 70px 0 70px;
    height: 380px;
}

.card-body {
    padding: 60px 50px !important;
}

.card-title {
    color: #000000;
    font-size: 2em;
    font-weight: 800;
}

.span-title {
    color: #ffffff;
    background: #000000;
    padding: 5px 15px;
}

.text {
    color: #000000;
    font-size: 1.2em;
    font-weight: 600;
    padding: 20px 0;
}

.card-text {
    margin: 20px 5px;
}

.product-info {
    display: flex;
    align-items: center;
}

.price {
    color: #7F0A0A;
    font-size: 1.5em;
    font-weight: 600;
}

.price1 {
    color: gray;
    font-size: 1.5em;
    font-weight: 600;
}

.price-1 {
    color: #000000;
    font-size: 1.5em;
    font-weight: 600;
}

.p-btn {
    margin-left: auto;
    background: #d19400;
    border-radius: 50px;
    font-weight: 600;
    text-decoration: none;
    color: #000000;
    padding: 10px 20px;
}

.p-btn:hover {
    color: #7F0A0A;
}

.product-img {
    width: 30rem;
    padding-bottom: 30px;

}

/* ~~~~~~~~~~~~~~~~~~~~ */

.b-btn {
    border: 3px solid #d19400;
    color: #d19400;
    font-weight: 700;
    font-size: 1.1em;
    padding: 15px 35px;
}

.b-btn:hover {
    background: #d19400;
    border: 3px solid #d19400;
    color: #000000;
}

.b-btn1 {
    text-align: center;
    margin: 80px 0px 0px 0px;
}

#product {
    border-radius: 0 150px 0 0;
}

/* End of Bestsellers Section */

/* Start of Mission Section */
.container-4 {
    background: #7F0A0A !important;
    padding: 50px 100px 50px 100px;
}


.container-4 h2 {
    width: 60%;
    color: #ffffff;
    background: #000000;
    text-align: center;
    padding: 15px 15px;
    font-size: 2.5em;
    font-weight: bold;
    letter-spacing: 5px;
    margin-bottom: 25px !important;
}

.mission-p {
    color: #ffffff;
    font-size: 1.4em;
    font-weight: 600;
    margin-bottom: 50px;
}

.abtn {
    text-decoration: none;
}

.mbtn-1 {
    border: 3px solid #d19400;
    color: #d19400;
    font-weight: 700;
    font-size: 1.1em;
    padding: 15px 35px;
}

.mbtn-1:hover {
    /* border: 3px solid #d19400;
    background-color: #7F0A0A;
    color: #d19400; */
    background: #d19400;
    border: 3px solid #d19400;
    color: #000000;
}

#mission {
    border-radius: 150px 0 0 0;
    /* padding: 50px !important; */
}

.mission-bg {
    background-color: #000000;
}

.mission-img {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 0px !important;
}

.mission-img img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 550px;
}

/* End of Mission Section */

/* Start of Footer */
.container-5 {
    background: #000000 !important;
    padding: 100px 180px;
    color: #ffffff;
}

.container-5 p {
    font-size: 1.2em;
    font-weight: 600;
}

.container-5 .footer-hover p:hover, .container-5 a:hover {
    color: #d19400;
    cursor: pointer;
}

.container-5 a {
    text-decoration: none;
    color: #ffffff;
}

.email {
    width: 280px !important;
}

.fab {
    margin-right: 15px;
}

/* End of Footer */

@media (max-width: 910px){
    .container-1 .header-img, .mission-img img {
        width: 500px;
    }
}